<h1>Listing Employees</h1>

<%= link_to 'New Employee', new_employee_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Driver Licence #</th>
    <th>Driver Licence Expiry</th>
  </tr>

  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.phone %></td>
      <td><%= employee.dlicenceNumber %></td>
      <td><%= employee.dlicenceExpiry %></td>
      <td><%= link_to 'Show', employee_path(employee) %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    </tr>
  <% end %>
</table>
